body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  height: 100vh;
  background-color: #d9d9d9;
}

select {
  background-color: #6c6060;
}
.shapes {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  
}

.rectangles {
  display: flex;
  flex-direction: row;
  
}

.circles {
  display: flex;
  flex-direction: row;
}
.left-rectangle, .right-rectangle {
  height: 15em;
  width: 9em;
}

.mid-rectangle {
  height: 10em;
  width: 20em;
}

.rectangles>div {
  background-color: black;
  color:black;
  margin: 1.5em; 
  
}

 .circles>div {
  background-color: black;
  color: black;
  margin: 1.5em;
} 



.circle {
  border-radius: 50%;
  height: 100px;
  width: 100px;  
}

.selectors {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-top: 2em;
  
  margin-left: auto;
  margin-right: auto;
  
}